body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.Header{
  background: linear-gradient(135deg, #e70707, #1a1a1a);
  height: 4em;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1{
    font-size: 2rem;
    color: #ffffff;
    font-family: Verdana;
  }
}